<div class="icon-box">
  @if (isMenuHidden()) {
    <app-round-icon icon="menu" (btnClick)="toggleMenu()"/>
  } @else {
    <app-round-icon icon="close" (btnClick)="toggleMenu()"/>
  }
</div>
<nav [attr.data-menu-hidden]="isMenuHidden()" class="navbar">
  <ul class="nav-list">
    <li class="nav-list-item"><a href="#home">Home</a></li>
    <li class="nav-list-item"><a href="#projects">Projects</a></li>
    <li class="nav-list-item"><a href="#aboutme">About Me</a></li>
    <li class="nav-list-item"><a href="#philosophy">Philosophy</a></li>
    <li class="nav-list-item dropdown">
      <p>Customize</p>
      <ul class="nav-dropdown-list">
      </ul>
    </li>
  </ul>
</nav>
