<section class="aboutme" id="aboutme">
  <app-title text="About Me"/>
  <div class="aboutme-container">
    <div class="aboutme-image-container">
      <img class="aboutme-image" ngSrc="profile.jpg" alt="profile" height="120" width="240" priority>
      <img class="aboutme-image" ngSrc="workspace.jpg" alt="workspace" height="120" width="240" priority>
      <img class="aboutme-image" ngSrc="inspiration.jpg" alt="inspiration" height="120" width="240" priority>
    </div>
    <div class="aboutme-content-container">
      <p class="aboutme-content">I don’t follow trends, I create them.</p>
      <p class="aboutme-content">A developer, thinker, and creator. My journey is about breaking conventions, embracing
        philosophy, and building
        experiences that leave an impact. </p>
      <p class="aboutme-content">But at my core, I’m just someone who chose a different path. Like many, I could have
        followed the conventional
        route—secure a job, settle into a routine. But something about that never felt right.
        I build because I love the process of creation, not just the outcome. I explore because I believe curiosity is
        more powerful than rules. I chose this path because I wanted to create something that people use every day,
        something that genuinely makes their lives better.</p>
      <p class="aboutme-content">I’m not here to impress—I’m here to express and build.</p>
    </div>
  </div>
</section>
