<section class="philosophy" id="philosophy">
  <app-title text="Philosophy"/>
  <div class="philosophy-image-container">
    <img src="ph1.jpg" alt="" class="philosophy-image img-1">
    <img src="ph2.jpg" alt="" class="philosophy-image img-2">
    <img src="ph3.jpg" alt="" class="philosophy-image img-3">
    <img src="ph4.jpg" alt="" class="philosophy-image img-4">
    <img src="ph5.jpg" alt="" class="philosophy-image img-5">
    <img src="ph6.jpg" alt="" class="philosophy-image img-6">
  </div>
</section>
