.typewrite {
  font-size: 24px;
}
@media (max-width: 1024px) {
  .typewrite {
    height: 64px;
  }
}
.typewrite-text {
  color: #FF9A1C;
  font-weight: 700;
  text-transform: uppercase;
}

.cta-btn {
  height: 50px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 50px;
  padding: 10px;
  gap: 5px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1019607843);
  cursor: pointer;
  transition: box-shadow 300ms linear, border-radius 300ms linear;
}
@media (max-width: 480px) {
  .cta-btn {
    border-radius: 10px;
  }
}
.cta-btn-icon {
  width: 0;
  height: 24px;
  transition: width 300ms linear;
}
.cta-btn-icon svg {
  width: 0;
  height: 24px;
  transition: width 300ms linear;
  fill: #FF9A1C;
}
.cta-btn-text {
  color: rgba(255, 154, 28, 0.7019607843);
  font-size: 16px;
  transition: color 300ms linear;
}
.cta-btn:hover, .cta-btn:focus-visible {
  outline: none;
  border: 1px solid rgba(255, 154, 28, 0.5019607843);
  box-shadow: 0 2px 10px rgba(255, 154, 28, 0.5019607843);
  border-radius: 50px;
}
.cta-btn:hover .cta-btn-icon, .cta-btn:focus-visible .cta-btn-icon {
  width: 24px;
}
.cta-btn:hover .cta-btn-icon svg, .cta-btn:focus-visible .cta-btn-icon svg {
  width: 24px;
}
.cta-btn:hover .cta-btn-text, .cta-btn:focus-visible .cta-btn-text {
  color: #FF9A1C;
}

.round-icon {
  background-color: #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #1C6EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 300ms ease-out, border 300ms ease-out;
}
.round-icon svg {
  height: 20px;
  width: 20px;
  fill: #1C6EFF;
  transition: fill 300ms ease-out;
}
.round-icon:hover, .round-icon:focus-visible {
  outline: none;
  background: #1C6EFF;
}
.round-icon:hover svg, .round-icon:focus-visible svg {
  fill: #000000;
}

.icon-box {
  display: none;
}
@media (max-width: 480px) {
  .icon-box {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 11;
    top: 10px;
    left: 10px;
  }
  .icon-box .round-icon {
    border: none;
    background: rgba(0, 0, 0, 0.5019607843);
  }
}

.navbar[data-menu-hidden=true] {
  top: -1000px;
  transition: all 1s linear;
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  min-width: 70%;
  padding: 10px 50px;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1019607843);
  transition: box-shadow 300ms linear, all 300ms linear;
  background: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
@media (max-width: 1024px) {
  .navbar {
    top: 0;
    min-width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 480px) {
  .navbar {
    min-width: 100%;
    height: auto;
    padding: 10px 20px;
  }
}
.navbar:hover {
  border-color: rgba(255, 255, 255, 0.2509803922);
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.2509803922);
}
.navbar .nav-list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  outline: none;
}
@media (max-width: 1024px) {
  .navbar .nav-list {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .navbar .nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.navbar .nav-list-item > a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.navbar .nav-list-item > a:hover, .navbar .nav-list-item > a:focus-visible {
  outline: none;
  color: #1C6EFF;
  transition: color 300ms linear;
}
.navbar .nav-list-item:hover, .navbar .nav-list-item:focus-visible {
  outline: none;
}
.navbar .nav-list-item:hover a, .navbar .nav-list-item:focus-visible a {
  outline: none;
  color: #1C6EFF;
  transition: color 300ms linear;
}
.navbar .nav-list-item.active a {
  outline: none;
  font-size: 20px;
  font-weight: 500;
  color: #1C6EFF;
  transition: color 300ms linear;
}
.navbar .nav-list .dropdown {
  position: relative;
  cursor: pointer;
}
.navbar .nav-list .dropdown .nav-dropdown-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
  list-style: none;
  overflow: hidden;
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5019607843);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1019607843);
  pointer-events: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
.navbar .nav-list .dropdown .nav-dropdown-list:hover {
  border-color: rgba(255, 255, 255, 0.2509803922);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2509803922);
}
.navbar .nav-list .dropdown:hover .nav-dropdown-list {
  transform: translateX(-50%) scaleY(1);
  pointer-events: auto;
}
.navbar .nav-list .dropdown:hover .nav-dropdown-list .nav-dropdown-list-item {
  width: 100%;
  padding: 5px;
}
.navbar .nav-list .dropdown:hover .nav-dropdown-list .nav-dropdown-list-item:hover, .navbar .nav-list .dropdown:hover .nav-dropdown-list .nav-dropdown-list-item:focus-visible {
  color: #1C6EFF;
  transition: color 300ms linear;
}

.title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  padding-left: 30px;
}
.title::before {
  content: "";
  background-color: #1C6EFF;
  height: 40px;
  width: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.project-card {
  width: 100%;
  margin: auto;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1019607843);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
.project-card:hover {
  border-color: rgba(255, 255, 255, 0.2509803922);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2509803922);
}
.project-card-content {
  width: 100%;
  display: block;
  overflow: hidden;
}
.project-card-content .project-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 500ms ease-in;
}
.project-card-content .project-header .project-card-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  transition: width 500ms ease-in, height 500ms ease-in;
}
.project-card-content .project-header .project-title {
  height: 0;
  font-size: 36px;
  font-weight: 500;
  color: #FF9A1C;
}
.project-card-content .project-header .project-icon-container {
  height: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.project-card-content .project-header .project-icon-container .round-icon {
  display: none;
  border: none;
}
.project-card-content .project-header .project-tech-container {
  height: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  cursor: pointer;
}
.project-card-content .project-header .project-tech-container .project-tech-item:hover, .project-card-content .project-header .project-tech-container .project-tech-item:focus-visible {
  color: #1C6EFF;
  text-decoration: underline;
  outline: none;
}
.project-card-content .project-body {
  height: 0;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  overflow-y: scroll;
  gap: 10px;
}
.project-card-navigator {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #0F0F0F;
  border-radius: 5px;
  padding: 20px;
}
.project-card-navigator .round-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(28, 110, 255, 0.7019607843);
}
.project-card-navigator .round-icon:hover, .project-card-navigator .round-icon:focus-visible {
  background-color: #1C6EFF;
}
@media (max-width: 1024px) {
  .project-card-navigator .round-icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .project-card-navigator .round-icon {
    width: 20px;
    height: 20px;
  }
}
.project-card-navigator .round-icon svg {
  height: 40px;
  width: 40px;
  fill: #FFFFFF;
}
@media (max-width: 1024px) {
  .project-card-navigator .round-icon svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .project-card-navigator .round-icon svg {
    width: 20px;
    height: 20px;
  }
}
.project-card-navigator .round-icon:hover, .project-card-navigator .round-icon:focus-visible {
  fill: rgba(28, 110, 255, 0.7019607843);
}
.project-card-title {
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  transition: width 500ms ease-in;
}
@media (max-width: 1024px) {
  .project-card-title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .project-card-title {
    font-size: 16px;
  }
}
.project-card[data-state=open] .project-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.project-card[data-state=open] .project-card-content .project-header {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "project-card-image project-title project-title" "project-card-image project-icon-container project-icon-container" "project-card-image project-tech-container project-tech-container" "project-card-image project-tech-container project-tech-container";
}
@media (max-width: 1024px) {
  .project-card[data-state=open] .project-card-content .project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.project-card[data-state=open] .project-card-content .project-header .project-card-image {
  grid-area: project-card-image;
  max-height: 200px;
}
.project-card[data-state=open] .project-card-content .project-header .project-title {
  grid-area: project-title;
  height: auto;
}
.project-card[data-state=open] .project-card-content .project-header .project-icon-container {
  grid-area: project-icon-container;
  height: auto;
}
.project-card[data-state=open] .project-card-content .project-header .project-icon-container .round-icon {
  display: block;
}
.project-card[data-state=open] .project-card-content .project-header .project-tech-container {
  grid-area: project-tech-container;
  height: auto;
}
.project-card[data-state=open] .project-card-content .project-body {
  height: auto;
}
.project-card[data-state=open] .project-card-navigator .round-icon {
  transform: rotate(-180deg);
}
.project-card[data-state=open] .project-card-title {
  width: 0;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #1C6EFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer-container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer-container {
    flex-direction: column;
  }
}
.footer-container .footer-nav {
  width: 60%;
}
@media (max-width: 480px) {
  .footer-container .footer-nav {
    width: 100%;
  }
}
.footer-container .footer-nav .footer-nav-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  list-style: none;
  padding: 10px;
  gap: 10px;
}
.footer-container .footer-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}
.footer-container .footer-nav-link:hover, .footer-container .footer-nav-link:focus-visible {
  color: #1C6EFF;
  text-decoration: underline;
  outline: none;
}
.footer-container .footer-action {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
@media (max-width: 480px) {
  .footer-container .footer-action {
    width: 100%;
    justify-content: space-around;
  }
}
.footer-container .footer-action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer-container .footer-action-btn .round-icon {
  background-color: rgba(255, 154, 28, 0.7019607843);
  border: none;
  height: 40px;
  width: 40px;
}
.footer-container .footer-action-btn .round-icon svg {
  height: 30px;
  width: 30px;
  fill: #0F0F0F;
}
.footer-container .footer-action-btn .round-icon:hover, .footer-container .footer-action-btn .round-icon:focus-visible {
  background: #FF9A1C;
}
.footer-container .footer-action-btn-desc {
  width: 100%;
  text-align: center;
  color: rgba(255, 154, 28, 0.7019607843);
  font-weight: 400;
  font-size: 14px;
}
.footer-container .copyright {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.footer-container .copyright a {
  color: #FFFFFF;
}
.footer-container .copyright a:hover, .footer-container .copyright a:focus-visible {
  color: #1C6EFF;
}

.case-study-card {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1019607843);
  border-radius: 5px;
  outline: none;
}
.case-study-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.case-study-card-header app-round-icon {
  transform: rotate(90deg);
  align-self: start;
}
.case-study-card-header app-round-icon .round-icon {
  border: none;
}
.case-study-card-title {
  font-size: 24px;
  font-weight: 700;
  color: #1C6EFF;
  text-align: start;
}
.case-study-card-desc {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
.case-study-card-detail {
  max-height: 0;
  margin-top: 0;
  padding: 0;
  transition: max-height 300ms linear, margin-top 300ms linear, padding 300ms linear;
  overflow: hidden;
}
.case-study-card-detail:before {
  content: "";
  background: #1C6EFF;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 0;
  border-radius: 50px;
  transition: width 300ms linear;
  z-index: -1;
}
.case-study-card-detail-title {
  color: #1C6EFF;
  font-size: 16px;
  font-weight: 700;
  max-height: 0;
  transition: max-height 300ms linear;
}
.case-study-card-detail-body {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  max-height: 0;
  transition: max-height 300ms linear;
  overflow: hidden;
}
.case-study-card-tags {
  visibility: hidden;
  height: 0;
}
.case-study-card[data-open=true] .case-study-card-header app-round-icon {
  transform: rotate(-90deg);
}
.case-study-card[data-open=true] .case-study-card-detail {
  max-height: 1000px;
  margin-top: 20px;
  padding: 0 10px;
  position: relative;
}
.case-study-card[data-open=true] .case-study-card-detail:before {
  width: 2px;
  z-index: 1;
}
.case-study-card[data-open=true] .case-study-card-detail-title {
  max-height: 1000px;
}
.case-study-card[data-open=true] .case-study-card-detail-body {
  max-height: 1000px;
}
.case-study-card:hover {
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2509803922);
}

.hero {
  position: relative;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .hero {
    height: auto;
    flex-direction: column-reverse;
    justify-content: end;
  }
}
.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .hero-content {
    width: 100%;
    margin-top: 20px;
  }
}
.hero-heading {
  font-size: 48px;
  font-weight: 500;
}
.hero-subheading {
  font-size: 14px;
  font-weight: 700;
  color: #1C6EFF;
  margin-bottom: -10px;
}
@media (max-width: 1024px) {
  .hero app-cta-btn {
    align-self: end;
  }
}
.hero .cta-btn {
  margin: 20px 0;
}
@media (max-width: 1024px) {
  .hero .cta-btn {
    margin: 40px 0;
  }
}
.hero-social-links {
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .hero-social-links {
    width: 100%;
    position: static;
    margin-top: 20px;
    justify-content: center;
  }
}
.hero-picture {
  height: 100%;
  width: auto;
  max-height: 500px;
  object-fit: scale-down;
}
@media (max-width: 480px) {
  .hero-picture {
    max-height: 250px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.projects app-title {
  align-self: start;
  margin-left: -20px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.aboutme app-title {
  align-self: start;
  margin-left: -20px;
}
.aboutme-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .aboutme-container {
    flex-direction: column;
  }
}
.aboutme-image-container {
  width: 40%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  gap: 10px;
  padding: 10px;
  background: radial-gradient(circle, #1C6EFF 0%, #000000 60%);
}
@media (max-width: 1024px) {
  .aboutme-image-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    min-height: 400px;
    align-items: center;
    background: radial-gradient(circle, #1C6EFF 0%, #000000 50%);
  }
}
@media (max-width: 480px) {
  .aboutme-image-container {
    width: 100%;
    background: radial-gradient(circle, #1C6EFF 0%, #000000 70%);
  }
}
.aboutme-image-container .aboutme-image {
  border-radius: 5px;
}
.aboutme-image-container .aboutme-image:first-child, .aboutme-image-container .aboutme-image:last-child {
  align-self: start;
}
@media (max-width: 1024px) {
  .aboutme-image-container .aboutme-image:first-child, .aboutme-image-container .aboutme-image:last-child {
    align-self: inherit;
  }
}
.aboutme-content-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 20px 0;
}
@media (max-width: 1024px) {
  .aboutme-content-container {
    width: 100%;
  }
}
.aboutme-content-container .aboutme-content:first-child {
  font-size: 24px;
  font-weight: 700;
  color: #FF9A1C;
}
.aboutme-content-container .aboutme-content:nth-child(2), .aboutme-content-container .aboutme-content:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #1C6EFF;
}
.aboutme-content-container .aboutme-content:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.philosophy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.philosophy app-title {
  align-self: start;
  margin-left: -20px;
}
.philosophy .philosophy-image-container {
  max-width: 975px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}
.philosophy .philosophy-image-container .philosophy-image {
  background-color: #FFFFFF;
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.philosophy .philosophy-image-container .img-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container .img-1 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
.philosophy .philosophy-image-container .img-2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container .img-2 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
  }
}
.philosophy .philosophy-image-container .img-3 {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 8;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container .img-3 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 13;
  }
}
.philosophy .philosophy-image-container .img-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container .img-4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
.philosophy .philosophy-image-container .img-5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container .img-5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
.philosophy .philosophy-image-container .img-6 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
@media (max-width: 480px) {
  .philosophy .philosophy-image-container .img-6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }
}

.cta {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 50px;
}
.cta-text {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  gap: 30px;
}
.tech-stack app-title {
  align-self: start;
  margin-left: -20px;
}
.tech-stack-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.tech-stack-container .tech-stack-item {
  height: 70px;
  width: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5019607843);
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1019607843);
  transition: box-shadow 300ms linear;
  margin-bottom: 25px;
}
@media (max-width: 480px) {
  .tech-stack-container .tech-stack-item {
    height: 50px;
    width: 50px;
  }
}
.tech-stack-container .tech-stack-item .tech-stack-icon {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack-container .tech-stack-item .tech-stack-icon[data-isDark=true] {
  background: #FFFFFF;
  padding: 5px;
}
.tech-stack-container .tech-stack-item .tech-stack-icon svg {
  height: 50px;
  width: 50px;
}
@media (max-width: 480px) {
  .tech-stack-container .tech-stack-item .tech-stack-icon svg {
    height: 40px;
    width: 40px;
  }
}
.tech-stack-container .tech-stack-item .tech-stack-desc {
  font-size: 14px;
  font-weight: 400;
  color: #1C6EFF;
  text-transform: uppercase;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: -10;
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.tech-stack-container .tech-stack-item:hover .tech-stack-desc, .tech-stack-container .tech-stack-item:focus-visible .tech-stack-desc {
  opacity: 1;
  z-index: 10;
}

.case-studies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  gap: 30px;
}
.case-studies app-title {
  align-self: start;
  margin-left: -20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[aria-hidden=true] {
  pointer-events: none;
}

/* Accessibility styles */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: white;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}
.skip-link:focus {
  top: 0;
}

/* Focus styles for better keyboard navigation */
:focus {
  outline: 2px solid #4d90fe;
  outline-offset: 2px;
}

/* Hide elements visually but keep them accessible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}
body .header {
  height: 80px;
  width: 100%;
}
body .container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  body .container {
    width: 100%;
  }
}
body .footer {
  width: 100%;
}
body ::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
body ::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 4px;
}
body ::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background: #1C6EFF;
}
body {
  -webkit-tap-highlight-color: transparent;
}
