$primary: #FFFFFF;
$primary-25: #FFFFFF40;
$primary-10: #FFFFFF1A;
$secondary: #1C6EFF;
$secondary-70: #1C6EFFB3;
$accent: #FF9A1C;
$accent-70: #FF9A1CB3;
$accent-50: #FF9A1C80;
$background: #000000;
$background-50: #00000080;
$background-light: #0F0F0F;

