@use "util" as *;
@use "components";
@use "features";

@mixin dark {
  background-color: $background;
  color: $primary;
  font-family: $font-family;

  .header {
    height: 80px;
    width: 100%;
  }

  .container {
    width: 80%;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 100%;
    }
  }
}
