$primary: #000000;
$primary-25: #00000040;
$primary-10: #0000001A;
$secondary: #4F46E5;
$secondary-70: #4F46E5B3;
$accent: #F28C18;
$accent-70: #F28C18B3;
$accent-50: #F28C1880;
$background: #FFFFFF;
$background-50: #FFFFFF80;
$background-light: #F5F5F5;

