@use "../util" as *;

.case-study-card {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 2px 10px $primary-10;
  border-radius: 5px;


  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;

    app-round-icon {
      transform: rotate(90deg);
      align-self: start;

      .round-icon {
        border: none;
      }
    }
  }

  &-title {
    font-size: fs(md);
    font-weight: fw(bold);
    color: $secondary;
    text-align: start;
  }

  &-desc {
    font-size: fs(sm);
    font-weight: fw(regular);
    color: $primary;
  }

  &-detail {
    max-height: 0;
    margin-top: 0;
    padding: 0;
    transition: max-height 300ms linear, margin-top 300ms linear, padding 300ms linear;
    overflow: hidden;

    &:before {
      content: '';
      background: $secondary;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: 0;
      border-radius: 50px;
      transition: width 300ms linear;
      z-index: -1;
    }

    &-title {
      color: $secondary;
      font-size: fs(sm);
      font-weight: fw(bold);
      max-height: 0;
      transition: max-height 300ms linear;
    }

    &-body {
      color: $primary;
      font-size: fs(xs);
      font-weight: fw(regular);
      max-height: 0;
      transition: max-height 300ms linear;
      overflow: hidden;
    }
  }

  &-tags {
    visibility: hidden;
    height: 0;
  }

  &[data-open = "true"] {

    .case-study-card-header {
      app-round-icon {
        transform: rotate(-90deg);
      }
    }

    .case-study-card-detail {
      max-height: 1000px;
      margin-top: 20px;
      padding: 0 10px;
      position: relative;

      &:before {
        width: 2px;
        z-index: 1;
      }

      &-title {
        max-height: 1000px;
      }

      &-body {
        max-height: 1000px;
      }
    }

  }

  &:hover {
    box-shadow: 0 2px 10px $primary-25;
  }
}
