@use '../util' as *;
@use '../util' as *;


.typewrite {
  font-size: fs(md);

  @include breakpoint(medium) {
    height: 64px;
  }

  &-text {
    color: $accent;
    font-weight: fw(bold);
    text-transform: uppercase;
  }
}
